html {
    font-family: sans-serif;
  }
  
  body {
    background-color: lightgrey;
    margin: 40px;
    white-space: ;
  }

  .heading1 {
    padding: px;
    color: orangered;
    padding: 10px;
    white-space: nowrap;

  }

  .h2 {
    padding: px;
    color: rgb(11, 10, 10);
    padding: 10px;
    

  }
.list {
  text-indent: 1.5cm;
  padding: 5px;
  color: black;
  padding: 3px;

}

 